{{! Sign Up }}
<div class="d-flex row justify-content-center">
  <div class="rounded col-12 col-xl-3 col-md-5 p-5">
  <form class="signup-form">
    <h5 class="text-center">Sign-up</h5>
    <div>
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" id="name" />
    </div>
    <div>
      <label for="username">Username: </label>
      <input type="text" class="form-control" name="username" id="username" />
    </div>
    <div>
      <label for="password"> Password</label>
      <input type="text" class="form-control" name="password" id="password" />
    </div>
    <div>
      <button class="btn btn-primary signup-btn">Signup</button>
    </div>
  </div>
  </form>

  {{! Sign In }}
  <div class="rounded col-12 col-xl-3 col-md-5 p-5">
    <form class="sign-in">
      <h5 class="text-center">Login</h5>
      <label for="email-login">Email:</label>
      <input type="form-input" class="form-control" type="email" id="email-login" />
      {{! password }}
      <label for="password-login">Password: </label>
      <input type="form-input" class="form-control" type="password" id="password-login" />
      {{! sub }}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>