{{! Sign Up }}
<div>
  <form class="signup-form">
    <div>
      <label for="username">username:</label>
      <input type="form-input" type="text" id="username" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="form-input" type="text" id="password" />
    </div>
    <div>
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

{{! Sign In }}
<div>
  <form class="sign-in">
    <label for="email-login">Email:</label>
    <input type="form-input" type="email" id="email-login" />
    {{! password }}
    <label for="password-login">Password: </label>
    <input type="form-input" type="password" id="password-login" />
    {{! sub }}
    <button type="submit">Signup</button>
  </form>
</div>
<script src="./js/login.js"></script>